.kontaktskjema {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.kontakt-input {
  margin-bottom: 10px;
  border-radius: 50px;
  border: 0 solid;
  padding: 10px 5px;
}

.kontakt-button {
  width: 120px;
  background-color: orange;
  color: white;
  border: 0 white;
  border-radius: 5px;
  padding: 5px;
}