* {
  box-sizing: border-box;
}

/*her hjalp kompisen min Kai meg litt*/
html,
body {
  font-family: roboto, arial;
  position: relative;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(180deg, orange, transparent);
}

p {
  margin: 0;
}

.social-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;

  top: 300px;
  
  background-color: rgb(61, 61, 61);
  padding: 7px;
  border-radius: 0 5px 5px 0;
  z-index: 99;
}

.social-bar a {
  padding-top: 4px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}