article,
section {
  max-width: 80%;
  margin: 0 auto;
  background-color: white;
  line-height: 24px;
  padding: 12px;
  border-radius: 5px;
}

.analyse-artikkelkort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyse-artikkelkort p {
  margin-bottom: 10px;
}

.tiltak-container {
  margin-bottom: 40px;
}

header {
  height: 100px;
}

.cms-article-img {
  width: 100%;
}
 .analyse-artikkelkort img{
   max-width: 250px;
   min-width: 80%;
 }

 .kontaktskjema {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 5px;
}

.kontakt-input {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px 5px;
}

.kontakt-button {
  width: 120px;
  background-color: #3d3d3d;
  color: white;
  border: 0 white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.kontakt-og-kart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.kart {
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  border-top: 0.5px solid black;
}

@media (max-width: 900px){
  .kontakt-og-kart {
    display: flex;
    flex-direction: column;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .kontaktskjema {
    width: 100%;
  }
}