main {
  grid-area: main;
  display: grid;
  row-gap: 1rem;
  margin-left: 6vw;
}

main article {
  display: flex;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0 10px;
  border-radius: 4px;

  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
}

main article p,
main article h2 {
  margin: 2px;
}

.article-info {
  display: grid;
  grid-template-rows: 40px 1fr;
  margin-left: 10px;
}

.article-card {
  color: black;
  text-decoration: none;
}

.mer-info-lenke {
  margin-bottom: 1rem;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
}

aside ul {
  display: flex;
  flex-direction: column;
  
  color: white;
  background-color: #3d3d3d;
  margin-right: 40px;
  padding: 10px 40px
}

aside a {
  color: white;
  list-style-type: none;
}

@media (min-width: 900px) {
  .main-page-container {
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: auto auto;
    grid-template-areas: "header header"
                          "main aside"
                          "footer footer";

    min-height: 100vh;
  }

  .article-card h2 {
    margin: 0;
    font-size: 2rem;
  }

  .article-thumbnail {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }

  .max-info {
    display: block !important;
  }
}

@media (max-width: 899px) {
  .main-page-container {
    display: grid;
    grid-template-areas: "header"
                          "main"
                          "aside"
                          "footer";
    grid-template-columns: 1fr;
    min-height: 100vh;
    width: 100vw;
  }

  main {
    margin: 0 2vw;
  }

  .article-thumbnail {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
}