.table-container,
.table-container-mobile,
.table-container-uuseo {
  background-color: white;
  border: 1px solid black;
  width: 600px;
  margin: 25px auto;
}
.cms-table-row {
  display: grid;
  grid-template-columns: 14vw 1fr 1fr 1fr;
}
.analyse-table-row {
  display: grid;
  grid-template-columns: 17.5vw 1fr 1fr;
}
.uuseo-table-row {
  display: grid;
  grid-template-columns: 14vw 1fr 1fr;
}
.table-data,
.table-header {
  border: 1px solid black;
  padding: 5px 10px;
}

.table-header h2,
.table-header h3 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.table-data ul {
  padding-left: 15px;
}

@media (max-width: 900px) {
  .cms-table-container-mobile {
    display: block!important;
  }
  .cms-table-container {
    display: none!important;
  }

  .cms-table-row {
    display: grid;
    grid-template-columns: 14vw 1fr;
  }
}