.table-container,
.table-container-mobile,
.table-container-mobile-cms,
.table-container-uuseo,
.table-container-cms {
  background-color: white;
  border: 1px solid black;
  width: 95%;
  margin: 25px auto;
}
.cms-table-row {
  display: grid;
  grid-template-columns: 25% 1fr 1fr 1fr;
}
.analyse-table-row {
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
}
.uuseo-table-row {
  display: grid;
  grid-template-columns: 25% 1fr 1fr;
}

.table-data,
.table-header {
  border: 1px solid black;
  padding: 5px 10px;
}

.table-data p {
  padding-bottom: 1rem;
}

.table-header h2,
.table-header h3 {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 900px) {
  .table-container-mobile-cms {
    display: block!important;
  }
  .table-container-cms {
    display: none!important;
  }

  .cms-table-row {
    display: grid;
    grid-template-columns: 25% 1fr;
  }
}