p {
  font-family: Montserrat;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.header {
  font-weight: bold;
  font-size: 32px;
}
.paragraph {
  font-size: 18px;
}

.underline {
  text-decoration: underline;
}